ConnectionStrings__DefaultConnection=Server=127.0.0.1;Port=3306;Database=printflow_crm;User=printflow_user;Password=SENHA_FORTE;TreatTinyAsBoolean=true;
Jwt__Issuer=PrintFlowApi
Jwt__Audience=PrintFlowFrontend
Jwt__Secret=troque-por-uma-chave-com-mais-de-32-caracteres
Cors__Origins__0=https://SEU-FRONT.vercel.app
MercadoPago__AccessToken=APP_USR-...
MercadoPago__PublicBaseUrl=https://api.seu-dominio.com.br
MercadoPago__FrontendBaseUrl=https://SEU-FRONT.vercel.app
MercadoPago__UseSandbox=false
